body{
	background-color: #CD5C5C;
	h1{
		font: 50px Arial Narrow, sans-serif;
		color:white;
		text-align: center;
		margin: 10px;
	}
	.miseEnPlace{
		display: flex;
		justify-content: space-around;
		p{
			font: 25px Arial Narrow, sans-serif;
			color:white;
			margin: 0px;
		}
		button{
			width: 20%;
			height: 20%;
			margin: 30px;
			font: 25px Arial Narrow, sans-serif;
			color:white;
			background-color: red;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}
	}
	.row{
		background-color: pink; 
		width:800px;
		height: 90%;
		margin: auto;
		padding:40px 20px 40px 100px;
		-moz-box-shadow: -10px 10px 5px 0px #9a0000;
		-webkit-box-shadow: -10px 10px 5px 0px #9a0000;
		-o-box-shadow: -10px 10px 5px 0px #9a0000;
		box-shadow: -10px 10px 5px 0px #9a0000;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#9a0000, Direction=224, Strength=5);
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		display: grid;
		grid-template-columns: repeat(6, 11%);
		grid-gap: 40px;
	
				img{
					margin:auto;
					width: 100px;
					height: 120px;
					-moz-box-shadow: -10px 10px 5px 5px #fd6864;
					-webkit-box-shadow: -10px 10px 5px 5px #fd6864;
					-o-box-shadow: -10px 10px 5px 5px #fd6864;
					box-shadow: -10px 10px 5px 5px #fd6864;
					filter:progid:DXImageTransform.Microsoft.Shadow(color=#fd6864, Direction=224, Strength=5);
					-moz-border-radius: 20px;
					-webkit-border-radius: 20px;
					border-radius: 20px;
				}
				span{
					height:120px;
				}
			
		
	}
}
